@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

:root {
  --accent: #EA5959
}
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  background-image: url(/images/image8.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {

  font-family: 'Ysabeau', sans-serif;
  font-size: 30px;
  font-weight: 100;
  /* font-style: normal; */
  /* background-color: var(--accent); */
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 32px;
  /* margin: 5px; */

}
.todo{

  padding: 32px;
  background-color: white;
  width: 90vh;
  border-radius: 16px;
  opacity: 70%;
}
.todo:hover{
  background-position: left center;
}
#list-star,
#list{
  margin-bottom: 15px;
}

.todo__content {
}
.todo__title {
}
.todo__new {
  --size: 50px;
  display:flex;
  margin: 16px 0px 32px;
}
.todo__new input {
  margin-right: 16px;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 32px;
  height: var(--size);
  flex-grow: 0.1;
}
.todo__task-del,
.todo__add {
  cursor: pointer;
  text-align: center;
  line-height: calc(var(--size)*0.75);
  width: var(--size);
  height: var(--size);
  border: 2px solid rgb(0, 0, 0, 0.6);
  border-radius: 32px;
  font-size: 30px;
  font-weight: 200;
}
.todo__task {
  display:flex;
  align-items: center;
  /* размер кнопки удаления */
  --size: 40px;
  min-height: 45px;
  /* max-width: 100px; */
  /* width: 100%; */
  /* margin: 0px 5px 5px; */

}

.todo__task:hover .todo__task-del {
  display:block;

}
.todo__task:hover .todo__task-star {
  display:block;
  margin-right: 4px;
}
.todo__checkbox {
  margin-right: 16px;
}
.todo__checkbox input {
  display:none;
}

.todo__checkbox div {
  cursor: pointer;
  --size: 28px;
  height: var(--size);
  width: var(--size);
  border: 1px solid lightgray;
  border-radius: 16px;
  position: relative;
}
.todo__checkbox div::after {
  font-size: 20px; /* Размер галки */
  content: '\2713';
  /* content: 'U+FE0F'; */
  position: absolute;
  text-align: center;
  display: none;
  color:white;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
}
.todo__task-completed .todo__task-text{
  text-decoration: line-through;
  color: gray;
  /* background-color: lightblue; */
}
.todo__checkbox input:checked + div{
    /* display: block; */
    background-color: lightgray;
    /* border: 1px solid white; */
    /* display: block; */
}
.todo__checkbox input:checked + div::after{
  display:block;
}

.todo__task-text {
  cursor: default;
  color: rgb(0, 0, 0, 1);
  font-weight: 600;
  font-size: 30px; /*Вот здесь менять размер шрифта при медиазапросе*/
  max-width: 60%;
  overflow-wrap: break-word;
    /* text-decoration: line-through; */
}


.todo__task-del {
  display: none;
  /* opacity: 0%; */
  line-height: 28px;
  /* padding-left: ; */
  /* margin-left: auto; */
  margin-right: 10px;
  font-size: 25px;

}
.todo__task-del:hover{
  /* color:red; */
  /* font-style: bold; */
  font-weight: 700;
  /* font-size: 30px; */
}
.todo__right-panel{
  opacity: 100%;
  display: flex;
  margin-left:10px;
  padding: 5px 5px 5px;
  background-color: white;
  /* width: 10vh; */
  border-radius: 16px;
  align-self: flex-start;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  /* height: 35%; */
  flex-direction: column;
  margin-top: 5vh;
  opacity: 70%;
}

.todo__pop-up-panel {
  display: none;
  /* position: fixed; */
  /* display: flex; */
  /* z-index: 1050; */
  /* position: relative; */
  border-radius: 16px;
  margin: 40px;
  height: 60%;
  border: 2px solid;
}
/* Обводка иконок. */
.todo__pomodoro-button{
  /* display:flex; */
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: 4px;
  /* padding-right: 20px;
  margin-right: 20px; */
  /* flex-direction: row-reverse; */
  /* margin-right: 10px; */
  /* justify-items: center; */
}
/* Размер иконок для правой панели */
.todo__pomodoro-icon{
  width: 42px;
  height: 42px;
  margin: 2px;
  /* flex-direction: column; */
}

.todo__task-star {
  display: none;
  line-height: 26px; 
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0, 0.6);
  border-radius: 32px;
  margin-left: auto;
  margin-right: 5px;

  padding: 5px;
}
.icon-star{
width: 30px;
height: 20px;
opacity: 40%;
}
.star-active{
  display: block;
  background-color: yellow;
  margin-right: 1.8em;
}
.star-active:hover{
  margin-right: 4px;
}
.icon-star:hover{
  opacity: 100%;
}
/* Размер иконки выгрузки слишком большой. Пришлось уменьшить. */
#icon_upload{
  width: 35px;
  height: 35px;
  margin: 5px;
  /* left: auto; */
  /* display: block; */
}

#icon_settings{
  width: 40px;
  height:  40px;
  margin: 3px;
}

/* // Панель помидорки */
.popup {
  position: fixed;

  /* padding: auto 0; */
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 70%;
  /* transition: 0.3s; */
  height: 45%;
  /* border: 2px solid black; */
  /* background-color: ; */
  top: 47%;
  left: 11%;
  background-color: white;
  border-radius: 16px;
  opacity: 50%;
  visibility: hidden;
}
#popup{
  visibility: visible;
}
.popup__body {
  min-height: 60%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content:flex-start;
  padding: 30px 10px;
  margin: 0 10px;
  font-family: 'Open Sans', sans-serif;
  /* font-size: ; */
  /* opacity: 50%; */
  /* margin: 0px 210px; */
  /* Display none and display блок мы не можем анимировать */
}
.popup__content {
  /* background-color: whitesmoke; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* opacity: 0; */
  color: black;
  /* border: 3px solid whitesmoke; */
  border-radius: 16px;
  /* margin-top: 20px; */
  /* padding-bottom: 40px;  */
  /* opacity: 1; */
}
.popup__close {
  font-size: 40px;
  position: absolute;
  text-decoration: none;
  right:20px ;
  top:0px;
  cursor: pointer;
}
.popup__title {
  font-size: 45px;
  font-weight: 500;
  padding-top: 20px;
}
.popup__text {
  font-size: 25px;
}

.popup-open{
  /* color:red; */
  /* background-color: green; */
  /* opacity: 50%; */
  visibility: visible;
}
.pomodoro__section{
  display: flex;
  flex-direction: row;
}
.pomodoro__section-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.progress-ring {
  color: red;
  /* background-color: red; */
}
.progress-ring__circle {
  /* stroke-dasharray:; */
}

.progress__bar{
  display:flex;
  width: 300px;
  padding: 20px 0 20px;
  /* margin: 0 20px; */
  flex-direction: column;
  align-items: center;
}
.circular-progress{
  position: relative;
  height: 250px;
  width: 250px;
  /* background-color: #f0ff; */
  border-radius: 50%;
  background: conic-gradient(red 360deg, #ededed);
  /* background: linear-gradient(to bottom right, blue, pink); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0px; */
  flex-direction: column;
  /* margin: 0 20px; */
  /* padding: 0 20px; */
  /* deg это радиус заполнения */
}
.circular-progress::before{
  content:"";
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
  width: 220px;

  border-radius: 50%;
  background-color: white;
}

.progress-value{
  position: relative;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 70px;
  /* opacity: 70%; */

}

.button__section{
  display: flex;
  flex-direction: row;
  margin-left: -8px;
  margin-top: 0px;
}
.count-timer{
  font-family: 'Open Sans';
  font-weight: 1000;
  font-size: 24px;
  /* padding-bottom: 40px; */
  margin-top: 20px;
  /* top: 40px; */
  align-self: flex-start;
}
.no-border{
  border: none;
  /* border-radius: 10px; */
  margin: 0px;
  cursor: default;
}
.icon-reverse{
  position: relative;
  /* transform: rotate(270deg); */
  /* width: 34px;
  height: 34px;
  margin: 6px; */
  width: 50px;
  height: 50px;
  padding: 14px;
  top: -15px;
  border: none;
  /* border: 0px solid rgb(0, 0, 0, 0.6); */
  opacity: 70%;
}

.icon-play{
  position: relative;
  width: 30px;
  height: 30px;
  margin: 12px;
  border: none;
  opacity: 70%;
}

.icon-pause{
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 6px;
  border: none;
  opacity: 70%;
}
.icon-pause:hover{
  opacity: 100%;
}

.icon-next{
  position: relative;
  width: 50px;
  height: 50px;
  padding: 10px;
  align-items: center;
  margin: 0px;
  top: -12px;
  left: 4px;
  border: none;
  /* border: 2px solid rgb(0, 0, 0, 0.6); */
  opacity: 70%;
}
.icon-next:hover{
  opacity: 100%;
}
.icon-reverse:hover{
  opacity: 100%;
}
.icon-play:hover{
  opacity: 100%;
}
.select__section {
  margin: 0 auto;
  width: 250px;
}
.select__header {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 8 px;
  border-radius: 16px ;
}

.select__current {
padding: 8px;
font-size: 18px;
width: 200px;
}
.select__icon {
  cursor: pointer;
  display: flex;
  /* flex-shrink: 0; */
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-left:auto;
}
.select__body {
  border: 1px solid black;
  border-top: none;
  border-radius: 0 0 8px 8px;
  padding-bottom: 6px;
  display: none;
  /* position: absolute; */
  /* left: 0;
  right: 0;
  top: 100%; */
}
.select__section.is-active .select__header{
  border-radius: 16px 16px 0 0;
}
.select__section.is-active .select__body{
  display:block;
}
.select__item {
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  padding: 8px;
  /* margin: 0 5px; */
  /* padding-bottom: 0; */
}
.select__item:hover{
  background-color: lightgray;
  /* border-radius: 16px; */
  /* margin: 0 10px; */
}